{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans 'Class Roasters' %}
{% endblock %}

{% block css %}
<link href="{% static "css/class_list.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static "js/knockout-2.3.0.js" %}"></script>
<script src="{% static "js/class_list.js" %}"></script>
{% endblock %}

{% block header %}
Class Roasters
{% endblock %}

{% block nav %}
<div data-bind="foreach: classes">
  <label class="radio" data-bind="css: {checked : id == $parent.chosen_class().id}">
    <span class="icons">
      <span class="first-icon fui-radio-unchecked"></span>
      <span class="second-icon fui-radio-checked"></span>
    </span>
    <input type="radio" name="class_id" data-toggle="radio" data-bind="{value: id, event : { change : $parent.switch_class } }" />
    <span data-bind="text: name"></span>
  </label>
</div>

{% endblock %}

{% block content %}
<div data-bind="with: chosen_class">
  <div class="container">
    <h4 class="class-name" data-bind="text: name"></h4>
  </div>
  <section data-bind="foreach: teachers">
    <a href="#" class="list-group-item">
      <div class="container">
        <div class="pull-left">
          <img class="media-object img-responsive"
            data-bind="attr: { alt: teacher.first_name + ' ' + teacher.last_name, src: teacher.avatar }" />
        </div>
        <div class="pull-right indicator">
          <i class="fui-arrow-right"></i>
        </div>
        <div class="media-body">
          <p class="list-group-item-heading" data-bind="text: teacher.first_name + ' ' + teacher.last_name"></p>
          <p class="list-group-item-text">{% trans 'Teacher' %}</p>
        </div>
      </div>
    </a>
  </section>
  <section data-bind="foreach: students">
    <a href="#" class="list-group-item">
      <div class="container">
        <div class="pull-left">
          <img class="media-object img-responsive"
            data-bind="attr: { alt: student.first_name + ' ' + student.last_name, src: student.avatar }" />
        </div>
        <div class="pull-right indicator">
          <i class="fui-arrow-right"></i>
        </div>
        <div class="media-body student">
          <p class="list-group-item-heading" data-bind="text: student.first_name + ' ' + student.last_name"></p>
        </div>
      </div>
    </a>
  </section>
</div>
{% endblock %}