{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Welcome {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">

    {% block css %} {% endblock %}

    <link rel="shortcut icon" href="{% static "images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
  </head>
  <body>

    <div class="btn-toolbar" role="navigation">
      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="#fakelink"><i class="glyphicon glyphicon-home"></i></a>
        <a class="btn btn-primary" href="#fakelink"><i class="fui-user"></i></a>
        <a class="btn btn-primary" href="#fakelink"><i class="fui-search"></i></a>
        <a class="btn btn-primary" href="#fakelink"><i class="fui-gear"></i></a>
      </div>
    </div>

    <div class="container page-header">
      <h5 class="text-center">
        <button class="btn btn-back pull-left">
          <span class="icon">&#9664;</span> Back</button>
        {% block header %} {% endblock %}
      </h5>
    </div>

    <div class="well">
      <div class="container">
        {% block nav %} {% endblock %}
      </div>
    </div>

    {% block content %} {% endblock %}

    <!-- Load JS here for greater good =============================-->
    <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-select.js" %}"></script>
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script src="{% static "js/flatui-checkbox.js" %}"></script>
    <script src="{% static "js/flatui-radio.js" %}"></script>
    <script src="{% static "js/jquery.tagsinput.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.js" %}"></script>
    {% block js %} {% endblock %}
  </body>
</html>
