body {
  color: #8B959F;
  font-size: 18px;
}

.container {
  padding-left: 25px;
}

/** top nav */
.btn-toolbar .btn, .btn-toolbar .btn > [class^="fui-"] {
  font-size: 33px;
  padding: 10px;
}

.btn-group > .btn:first-of-type, .btn-group > .btn:first-of-type:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:last-of-type,  .btn-group > .btn:last-of-type:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px;
}

/** back button */
.btn-back {
  font-size: 17px;
  color: #77818e;
  background-color: #d7dcde;
  padding-top: 5px;
  padding-bottom: 4px;
}

.btn-back .icon {
  font-size: 11px;
  vertical-align: top;
  margin-right: 18px;
}

/** page header */
.page-header {
  border-bottom: 0px;
  margin: 20px 15px 10px;
  font-size: 22px;
}

.side-nav {
  background-color: #f6f8f8;
  padding-top: 15px;
  border-top: 1px;
}

.radio .icons {
  font-size: 24px;  
}

.radio {
  padding-bottom: 0px;
  margin-bottom: 22px;
}

.sitenav-text {
  margin-left: 15px;
}

/** section header */
.class-name {
  font-style: italic; 
  margin-top: 18px;
  margin-bottom: 18px;
}

/** teacher/student list */
a.list-group-item {
  padding: 4px 0;
}

a.list-group-item img {
  width: 64px;
  margin-right: 25px;
}

a.list-group-item .indicator {
  margin-top: 15px;
  font-weight: bolder;
  font-size: 24px;
}

a.list-group-item .list-group-item-heading {
  color: #73C6B6;
}

a.list-group-item .student .list-group-item-heading {
  color: #85c1e9;
}

a.list-group-item .list-group-item-text {
  color: #8B959F;
}
a.list-group-item i {
  color: #BDC3C7;
}

.media-body {
  height: 64px;
  vertical-align: middle;
  display: table-cell;
}